body{
    margin: 0;

}

header{
   background-image: url(img/header\ pic.png ) ;
  background-repeat: no-repeat;
    height: 570px;
}

#header-H1{
    color: blanchedalmond;
    font-size: 50px ;
    font-family: 'Dosis', sans-serif;
}
#header-p{
    color:rgb(206, 191, 191);
    text-shadow: 3px 3px 2px rgb(0, 0, 0);
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    
}
#header-section{
display: flex;
margin-bottom: 0px;


}
.header-div{
   width: 50%;

  
}
.header-div img{
    width: 550px;
padding-left: 7%;    
}
.header-h1{
    color: rgb(229, 255, 0);
    
}
.marquee{
    color: rgb(0, 225, 255);
    text-shadow: 2px 2px 5px rgb(240, 227, 227);
    font-family: 'Noto Sans', sans-serif; 
    font-size: 40px;
    margin-top: 0;

}
Section{
    display: flex;
    margin-bottom: 50px;
    }
.section1-div{
    width: 50%  ;
    padding: 5%;
}
.section1-div img{
width: 90%;
}
.Section1{
    
    background-image: url(shapes/Frame\ 56.jpg ) ;
    background-size: 70%;
    background-repeat: no-repeat;

    
}
.section1-text-h1{
    font-size: 32px;
    font-family: 'Noto Sans', sans-serif;

}
.section1-text-p{
    color: rgb(92, 91, 91);
    font-size: 20px;
    font-family: 'Noto Sans', sans-serif;

}
.sections-ancor{
    text-decoration: none;
    color: rgb(255, 254, 254);
    font-size: 15px;
    background-image: linear-gradient(rgb(207, 126, 5), rgb(155, 119, 19));
    padding: 10px 20px;
    border-radius: 25px;
}
.sections-span{
    color: orangered;
}
#span2{
    color: rgb(53, 53, 53);
}
.section2-div{
    width: 50%  ;
    padding: 5%;
    margin-bottom: 10px;
}
.section2-div img{
width: 650px;
}
.section2-p{
    color: rgb(92, 91, 91);
    font-size: 20px;
    font-family: 'Noto Sans', sans-serif;
}
.section2-text-h1{
    font-size: 60px;
    font-family: 'Noto Sans', sans-serif;
   padding-top: 70px;
}
#section2{
    background-image: url(shapes/Frame\ 58.jpg) ;
    background-repeat: no-repeat;
    background-size: 100%;
   
}
#my-recipies{
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    color: rgb(54, 54, 54);
    
}

.section3{
width: 50%;
padding: 5%
}
.Section3 img{
width: 90%;
}

.item{
    width: 50%;
    font-family: 'Otomanopee One', sans-serif;
    color: rgb(59, 59, 59);
}
.item img{
    width: 100%;
    border-radius: 20px;
}
#food-2{
    width: 345px;
}
.section4-div{
   display: flex;
  padding: 5%;
   
}
.div-susbcrice{
    width: 50%;
    padding-left: 7%;
    padding-right: 9%;
    font-family: 'Otomanopee One', sans-serif;
}
#last-div{
    height: 200px;
    background-color: rgb(3, 10, 29);
    color: rgb(126, 126, 126);
    font-family: 'Encode Sans SC', sans-serif;
    text-align: center;
    padding-top: 2%;
    
    
}
#last-section-h5{
    padding-top: 1%;
}
#footer{
    padding-top: 3%;
    color: rgb(131, 131, 131);
}
#LAST-SPAN{
    color: orangered;
}